<%- include('partials/navbar') %>
<body>
    <h1 class="titulo">Nosotros</h1>
    <div class="body2">
        <div class="presentacion">
            <h2>¿Quienes somos?</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Officia voluptates aspernatur, molestias nemo distinctio temporibus reprehenderit, unde sunt eos porro aut quos inventore odit cum? Qui dolorem tempora saepe eum?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci cupiditate minus voluptas quasi, laboriosam accusamus iusto beatae omnis exercitationem vel dolore tenetur assumenda saepe debitis optio cumque doloremque ratione qui?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae ea nisi odit repudiandae culpa hic maxime porro minima, modi fuga natus possimus nulla voluptate eos alias. Quisquam dolorem cupiditate dolorum.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum cumque quia, impedit a aliquid placeat esse nulla. Eaque vel atque debitis incidunt enim similique suscipit nam aliquam nemo in? Asperiores?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis ipsam voluptatum, in consequuntur a sequi placeat minima eaque deleniti, necessitatibus excepturi? Omnis fuga incidunt quidem aperiam eum aliquid temporibus repellendus?
            </p>
            <div class="raya"></div>
            <h2 class="nose">Encargados</h2>
            <div class="encargados">
                <h4>Juan</h4>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident iusto quas fuga illum est quibusdam vitae quasi iste ipsa sapiente! Sequi aliquid iste minus nostrum exercitationem odit, accusamus fugiat delectus!</p>
                <h4>Alberto</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam est quae iusto quam eum nobis accusamus? Optio officiis quis, cum dicta maiores in dolores doloremque consectetur tenetur aut fugiat dolorum?</p>
                <h4>Tatiana</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, quibusdam praesentium, natus vero obcaecati eos odio quaerat eveniet animi nulla explicabo cupiditate sapiente dolore, commodi corrupti itaque sed! Consequuntur, ex.</p>
                <h4>Luz</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et est perspiciatis maiores neque, eum fugiat saepe officia totam nihil exercitationem minus at dolores dolore libero necessitatibus impedit hic eos facere.</p>
            </div>
            <div class="raya"></div>
            <div class="elegir">
                <h2>Porque elegirnos?</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error suscipit libero itaque sapiente voluptate esse deserunt reprehenderit voluptates eius excepturi consequatur, omnis animi nostrum dignissimos! Placeat illo doloremque minima cumque?
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat similique neque possimus sint, nesciunt illo ea et iure quam eligendi quisquam eum atque eos dolorem at consectetur iste aut nulla.lorem
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Qui inventore quis nemo quasi, impedit doloremque? Libero eos aliquid quisquam maiores quidem, nulla non, provident nostrum repellendus, earum cumque quibusdam atque.
                </p>
            </div>
        </div>
    </div>
    <footer>
        <%- include('partials/navbar') %>
    </footer>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        .raya{
            color: rgb(154, 154, 154);
            border-bottom: 1px solid;
            padding-top: 20px;
        }
        .titulo{
            padding: 20px;
            text-align: center;
            background-color: rgb(50, 50, 50);
            color: white;
        }
        .presentacion{
            padding: 20px;
            color: black;
            background-color: rgb(221, 221, 221) ;
        }
        .presentacion h2{
            padding: 10px;
        }
    .body2{
        padding-left: 80px;
        padding-right: 80px;
        background-color: rgb(171, 171, 171);
    }
    .encargados{
        padding-top: 10px;
        columns: 4;
    }
    .nose{
        padding-top: 20px;
    }
    </style>
</body>