<%- include('partials/navbar') %>
<body>
    <h1 class="titulo">Clientes</h1>
    <div class="body2">
        <div class="clientes">
            <h2>Hablan de nosotros?</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aspernatur veniam deserunt magnam dicta, labore tempore corrupti est quis atque laboriosam magni, adipisci, repellat explicabo pariatur quo quisquam voluptates quam sapiente?
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat vero alias corporis quidem, voluptatem dolorum optio quod itaque praesentium aspernatur ea iusto sint provident? Facere illum explicabo ut dignissimos veniam!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint dolorum est debitis, obcaecati deserunt tempora nemo! Aliquam suscipit debitis, ipsum veritatis, minus iusto possimus, quo deserunt earum vitae ut repellendus.
            </p>
            <div class="raya"></div>
            <h2>Lista de clientes </h2>
            <div class="listacli">
                <h3>Liz</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam minus atque nostrum recusandae, tempore quam, accusamus blanditiis eligendi sequi ipsum dolorum nesciunt repellendus obcaecati aut enim vel, itaque eveniet eius?</p>
                <h3>Juan</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis possimus quia earum rem odit voluptas sunt architecto nulla. Consectetur, voluptatibus ex! Accusamus culpa et odit repudiandae fuga doloremque, perferendis voluptas.</p>
                <h3>Alonso</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit in repellendus quo suscipit totam dolorum quisquam culpa magnam qui. Non officia nostrum itaque! Aliquid nisi corrupti consectetur optio quis modi.</p>
                <h3>Pedro</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae earum fugiat et, numquam nam explicabo veniam delectus nemo provident, harum eligendi possimus quas! Quod saepe harum quae quibusdam provident delectus!</p>
                <h3>Ana</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo earum non nesciunt adipisci nostrum alias enim expedita inventore quasi quisquam perferendis sed, culpa dolores necessitatibus fuga magni animi molestiae ipsam.</p>
                <h3>Luna</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum maxime neque consequuntur. Eaque omnis dolorum harum corporis molestias, officia temporibus nemo explicabo natus atque unde quo animi aut voluptas ut.</p>
            </div>
            <div class="raya"></div>
            <div class="Confia">
                <h2>Confia en nuestra compañia</h2>
                <ul>
                <li>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Natus, recusandae quisquam quas assumenda cumque aspernatur saepe minus reprehenderit cupiditate inventore quaerat a fuga accusantium sapiente, totam quod dolores dolorum eos!</p>
                </li>
                <li>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, perferendis delectus fugiat assumenda consequuntur molestias amet atque a esse odio alias error ut, dicta soluta, aliquid architecto sed dolorum. Aliquid?</p>
                </li>
                <li>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eveniet porro quia vel, itaque illo harum ea cumque, quas autem soluta veritatis assumenda animi maiores, nam error optio quis illum distinctio.</p>
                </li>
            </ul>
            </div>
        </div>
    </div>
    <footer>
        <%- include('partials/navbar') %>
    </footer>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        .raya{
            color: rgb(154, 154, 154);
            border-bottom: 1px solid;
            padding-top: 20px;
        }
        .titulo{
            padding: 20px;
            text-align: center;
            background-color: rgb(50, 50, 50);
            color: white;
        }
        .body2{
            padding-left: 80px;
            padding-right: 80px;
            background-color: rgb(171, 171, 171);
        }
        .clientes{
            padding: 20px;
            color: black;
            background-color: rgb(221, 221, 221) ;
        }
        .listacli{
            padding-top: 20px;
            columns: 6;
        }
    </style>
</body>
